<!DOCTYPE HTML>
<html>
<head>
    <title>Запуск тестового обучающего приложения!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Добро пожаловать, {{name}}!</div>
</body>
</html>